<div class="contact-deliver">
  <% flash.each do |key, value| %>
    <div class="flash-msg">
        <%= value %>
    </div>
  <% end %>
  <div class="write-message">
  <%= link_to "Назад", new_contact_path %>
  </div>
</div>