<div class="about-me-overlay col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="skew-top col-xs-10 col-sm-8 col-md-8 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
</div>

<div class="separator-horizontal"> </div>
	<div class="about-rectangle">
		<a href="<%= root_path %>">
			<%= image_tag 'logo.jpg'%>
		</a>
	</div>
<div class="about-me-info col-xs-10 col-sm-8 col-md-8 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
	<span class="about-title"> НЕМНОГО ОБО МНЕ САМОМ </span>
	<span class="about-text">
		Привет! Меня зовут Паша Никулин. Я репортер. Пишу про радикализм, терроризм и насилие. Редактирую журнал <%= link_to "Moloko plus", "http://moloko.plus" %>. Ещё я пишу неплохие стихи и мечтаю издать сборник.
	</span>
</div>
<div class=" skew-over col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="skew-bottom col-xs-10 col-sm-8 col-md-8 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">	
</div>
</div>

</div>
